body {
    background-color: #a6dcef;
}

hr {
    border-style: none;
    border-style: dotted none none;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}

h1, h3 {
    color: #f2aaaa;
}